@import '../../data/variables';

section form {
    input {
        margin-bottom: 1rem;
    }

    label {
        display: flex;
        flex-direction: column;

        span {
            font-family: 'Trebuchet MS', sans-serif;
            font-size: $medium;
            line-height: 3rem;
        }

        input { margin-bottom: 2rem; }
    }
}
